/*csslint universal-selector: false, box-sizing: false, ids: false, box-model: false*/


/*--------------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------ Universal Selector --------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------*/

* {
    box-sizing: border-box;
    
}

body {
    font-family: 'Anonymous Pro';
    line-height: 1.5;
    margin: 0;
}

#wild {
    color: whitesmoke;
}

.main-header {
    background: linear-gradient( #6666FF, transparent 90%), linear-gradient(0deg, #fff, transparent), #6666FF url('../images/mountains.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
    padding-top: 170px;
    /*background-image: url('../images/mountains.jpg');*/
    /* background-image: radial-gradient(circle at top, #ffa949, firebrick);*/
}

.main-header,
.title {
    text-align: center;
}

.title {
    border-bottom: 2px solid;
    color: whitesmoke;
   font-size: 1.625em;
    font-weight: 200;
    letter-spacing: .65em;
    padding-bottom: 10px;
}

.callout {
 border-bottom: 3px solid;
 color: whitesmoke;
 display: inline-block;
 font-size: 1.25em;
 margin-top: 20px;
 padding: 0 9px 3px;
}

.t-border {
    border-top: 2px solid lightgray;
}

img {
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.primary-content,
.secondary-content {
    margin: auto;
    max-width: 900px;
    padding-left: 50px;
    padding-right: 50px;
    width: 75%;
}

.primary-content {
    text-align: center;
}

.secondary-content {
    border-bottom: 2px solid #dfe2e6;
    padding-bottom: 70px;
    padding-top: 80px;
}

#main-footer {
    border-bottom: 10px solid black;
    padding-bottom: 60px;
    padding-top: 60px;
    text-align: center;
}

.main-header {
    background-color: black;
}

.arrow {
    margin-top: 150px;
    width: 50px;
}

.wildlife {
    background-color: #434a52;
    background-image: url('../images/bear.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    border-top: 10px solid #6666FF;
    box-shadow: inset 0 0 50px 10px rgba(0, 0, 0, .8);
    color: whitesmoke;
    margin: 105px 0 50px;
    padding: 18% 24%;
   }

ul li {
    color: white;
    margin-bottom: 5px;
}

li {
    margin-bottom: 10px;
}

li,
ol {
    margin-left: 30px;
}

.group:after {
    clear: both;
    content: "";
    display: table;
}


/*--------------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------ Headline Elements and P elements ------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------*/

h1 {
    color: whitesmoke;
    font-size: 5rem;
    font-size: 5.626em;
    font-weight: normal;
    line-height: 1.1;
    line-height: 1.3;
    margin: 12px 0 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
    text-transform: uppercase;
}

h2 {
    font-size: 53px;
    font-weight: normal;
    margin: .5em;
    text-decoration: underline;
    
}

h3 {
    color: black;
    font-size: 23px;
    margin: 1.7em;
}

p {
    font-size: 20px;
}

.lake {
color: black;
}



/*--------------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------ Floated Columns -----------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------*/

.resorts,
.tips {
    width: 46.5%;
}

.resorts {
    float: left;
}

.tips {
    float: right;
}


/*--------------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------ pseudo --------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------*/

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: lightskyblue;
}

a:active {
    color: coral;
}

a:focus {
    color: black;
   
}


/*--------------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------ Media Queries -------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------*/

@media(max-width: 1024px) {
    .primary-content,
    .secondary-content {
        width: 90%;
    }
    
}

@media(max-width: 768px) {
    .primary-content,
    .secondary-content {
        border-top: none;
        padding: 20px;
        width: 100%;
    }
    .main-header {
        max-height: 380px;
        padding: 50px 25px 0;
    }
    
    .arrow {
        display: none;
    }
    .intro {
        font-size: 1rem;
    }
    .resorts,
    .tips {
        float: none;
        width: 100%;
    }
    .main-footer {
        padding: 20px 0;
    }
}

@media(max-width: 375px) {}


/*--------------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------ Hamburger Menu -------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------*/

.container {
    margin: 0 auto;
    width: 960px;
    
}

header {
    background: url(../images/gray1.jpg) repeat;
    border-bottom: 1px solid #c0dffb;
    padding-bottom: 30px;
    
}

.headerContainer {
    
    margin: 0 auto;
    width: 960px;
}

#navcontainer {
    
    padding: 30px 0 0 0;
    text-align: center;

}

ul #navlist {
    margin-left: 0;
    padding-left: 0;
    white-space: nowrap;
    
}

#navlist li {
    display: inline;
    list-style-type: none;
    text-align: center;
}

#navlist a {
   color: black;
    font-family: 'Anonymous Pro', ;
     font-size: 24px;
    padding: 10px 20px;
    text-align: center;
   text-shadow: black;
    
}

#navlist a:hover {
    background: #00adff;
    border-radius: 10px;
   /* color: #fff;*/
    text-align: center;
    text-shadow: none;
}

#navlist #active a {
    background: #00adff;
    border-radius: 10px;
    /*color: #fff;*/
    text-align: center;

    text-decoration: none;
    text-shadow: none;
    
}